*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(173, 173, 173);
    /* width: 15vw; */
    /* width: 350px; */
    height: 100vh;
    font-family: "Lucida Console", "Courier New", monospace;
}
.sidebarfade{
    transform: translate(-443px, 0px);
    position: absolute;
}
.sidebar nav{
    padding: 40px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 35px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.myinfocontainer{
    /* background-color: green; */
    height: 60vh;
    width: 80vw;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
}
.myinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Lucida Console", "Courier New", monospace;
}
.content{
    margin: 20 -2;
    font-size: 30px;
}
.greetings{
    font-size: 70px;
}
.name{
    font-size: 60px;
    font-weight: bold;
}
.about{
    font-size: 50px;
}
.buttons{
    margin-top: 30px;
}
.btn{
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}
.createform {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 100px;
}
.createform h1{
    text-align: center;
    padding: 12px;
}
.createform form div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}
.createform form div label{
    padding: 4px;
}
.createform form div input{
    border-radius: 3px;
    width: 15vw;
    padding: 4px;
    margin: 0 5px;
}
#message{
    margin: 10px 4px;
    
}
.sidebarbuttons{
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 10px;
}
.close{
    margin-left: 140;
    /* cursor: pointer; */
    /* margin-top: -200; */
}